@import "./font.css";
@import "./styles/dashboardPage.css";
@import "./styles/login.css";
@import "./styles/signUp.css";

body {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	font-size: 14px;
	background-color: #fff;
}
